<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a class="navbar-brand mx-auto" href="#">
        <img id="MDB-logo" src="/IMAGES/download-removebg-preview.png" alt="Basma Hotel Logo" draggable="false"
            height="40" />
        Basma Hotel
    </a>

    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="side-bar">
                <ul class="nav flex-column">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="zmdi zmdi-widgets"></i>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                    <li class="nav-item" style="margin-top: 50px;">
                        <a class="nav-link" href="/admin">
                            <i class="zmdi zmdi-file-text"></i>
                            Reservations
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/guests">
                            <i class="zmdi zmdi-accounts"></i>
                            <span> Guests</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/rooms">
                            <i class="zmdi zmdi-layers"></i>
                            <span> Rooms</span>
                        </a>
                    </li>
                </ul>
                <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center pl-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span> -->
                <!-- <a class="d-flex align-items-center text-muted" href="#">
                    <i class="zmdi zmdi-plus-circle-o"></i>
                </a> -->
                <!-- </h6> -->
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/charecteristics">

                            <i class="zmdi zmdi-file-text"></i>
                            <span>characteristics</span>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/admin/options">
                            <i class="zmdi zmdi-dns"></i>
                            <span>Options</span>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/admin/questions">
                            <i class="zmdi zmdi-help-outline"></i>
                            <span>Questions</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>