<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/CSS/aboutUs.css">
</head>
<body>
  <header class="py-5 bg-image-full" style="background-image: url('/IMAGES/wdp.jpg'); background-size:100% ">
    <div class="text-center my-5">
        <h1 class="title">About Basma Hotel</h1>
        <p class="txt">Basma Hotel is a premier hotel that caters to travelers seeking a unique and unforgettable experience in the heart of Aswan, Egypt. 
          Our mission is to provide our guests with exceptional service, luxurious accommodations, and unrivaled access to the city's rich history and culture.</p>
    </div>
</header>
<div class="container d-flex justify-content-center mt-5 p-1">
  <div class="card text-center mb-5">
    <span class="name">Karim S.</span>
    <small class="text-black-50 font-weight-bold">Tripadvisor.com, Egypt</small>
    <div class="location mt-4">
      <p class="txt2">Second time to visit and definitely won't be the last…in fact service and overall experience got better since last visited two years ago, not to mention the marvelous view…the hotel is an excellent getaway for couples…highly recommended</p> 
      <div class="carda p-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="ratings">
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center mb-5">
    <span class="name">Sara N.</span>
    <small class="text-black-50 font-weight-bold">Expedia.com, Germany</small>
    <div class="location mt-4">
      <p class="txt2">Two nights at Basma Hotel were like heaven. The room with a balcony was spacious and comfortable. The staff was helpful and friendly. The location was perfect. Atmosphere wonderful. My only regret is that I didn’t spend a week. Will definitely be back.</p> 
      <div class="carda p-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="ratings">
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center mb-5">
    <span class="name">Martina R..</span>
    <small class="text-black-50 font-weight-bold">Booking.com, Spain</small>
    <div class="location mt-4">
      <p class="txt2">The staff are lovely and very professional. Everything is very clean and the rooms smell very good. I have traveled as a family and we have been very comfortable with a family studio. I highly recommend this hotel.</p> 
      <div class="carda p-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="ratings" id="martina">
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating-color"></i>
            <i class="fa fa-star rating"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="containera">
  <div class="b">
    <div class="dark">
      <p class="txt">8.07</p> 
      <p class="txt3">Based on 192 reviews</p>
    </div>
    <img  src="IMAGES/pngwing.com.png" alt="Booking.com">
    <p class="titlea">Basma Executive Club</p>

  </div>
  <span>
    <p class="rat">Comfort</p>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 83%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">8.3</div>
</div>
</span>
<span>
  <p class="rat">Facilities</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">7.8</div>
</div>
</span>
<span>
  <p class="rat">Staff</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">9</div>
</div>
</span>
<span>
  <p class="rat">Clean</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 82%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">8.2</div>
</div>
</span>
<span>
  <p class="rat">Location</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">85</div>
</span
></div>
<span> 
   <p class="rat">Value for money</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">7.6</div>
</span>
</div>
</div>
</body>
</html>