<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basma/All Rooms</title>
    <link rel="stylesheet" href="/CSS/allRooms.css">
</head>
<!-- All icons -->
<i class="fa-solid fa-water" title="Nile River View"></i>
<i class="fa-solid fa-umbrella-beach" title="Large Terrace"></i>
<i class="fa-solid fa-water-ladder" title="Pool View"></i>
<i class="fa-solid fa-wifi" title="WiFI"></i>
<i class="fa-solid fa-tv" title="TV"></i>
<i class="fa-solid fa-snowflake" title="Central Air Conditioning"></i>
<i class="fa-solid fa-bath" title="Bathtub"></i>
<i class="fa-solid fa-beer-mug-empty" title="Mini Bar"></i>
<i class="fa-solid fa-ban-smoking" title="Non-Smoking"></i>
<i class="fa-solid fa-mug-hot" title="Complimentary Tea & Coffee"></i>
<i class="fa-solid fa-utensils" title="24-Hour Room Service"></i>
<i class="fa-solid fa-cube" <% %>></i>
<i class="fa-solid fa-person" title="Number of people"></i>

<body>
    <header>
        <h1>All Rooms</h1>
    </header>
    <main>
        <div class="room-card-container" id="roomList">
            <div class="room-row">

                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
            </div>
            <div class="room-row">
                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
                <a href="#" class="room-card">
                    <img src="/IMAGES/IMG-20231014-WA0028.jpg" width="300" height="300">
                    <h2>
                        Room title:
                    </h2>
                    <p>Price: $Per night
                    </p>
                    <p>Capacity: guests</p>
                    <p>Description:
                    </p>
                </a>
            </div>
        </div>
        <div class="pagination">
            <button id="prevPage"><i class="fa-regular fa-circle-left"></i> Previous</button>
            <span id="currentPage">1</span>
            <button id="nextPage">Next <i class="fa-regular fa-circle-right"></i></button>
        </div>


    </main>
    <script src="/JS/allRooms.js"></script>
</body>

</html>