<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characteristics</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/CSS/characteristics.css">

</head>

<body>
    <%- include("./Partials/dashPartial.ejs") %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
            <div class="container">
                <div class="title-strap">
                    <h2>Room's Characteristics</h2>
                </div>
                <div class="row justify-content-end mb-3">
                    <div class="col-auto">
                        <button class="btn btn-success" style="margin-right: 10px;"
                            onclick="addCharacteristicsRow()">Add
                            Characteristic</button>

                    </div>
                    <div class="col-auto" id="saveButtonContainer" style="display: none;">
                        <button class="btn btn-primary" onclick="saveCharacteristicRow()">Save</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class=" rooms-table" id="roomTable">
                        <thead>
                            <tr>
                                <th>Characteristic</th>
                                <th>Icon</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i=0; i < characteristics.length; i++) { %>
                                <tr>
                                    <td style="vertical-align: middle;">
                                        <input type="text" class="form-control"
                                            style="width: 90%; vertical-align: middle;" readonly
                                            value="<%= characteristics[i].characteristic %>">
                                    </td>
                                    <td
                                        style="display: flex; align-items: center; justify-content: center; padding: 7%; width: 100%;">
                                        <i class="<%= characteristics[i].icon %>"
                                            style="font-size: large; width: 150px; display: flex; align-items: center; justify-content: center; "></i>
                                    </td>


                                    <td>
                                        <div class="btn-group d-flex justify-content-center" role="group"
                                            style="width: 100%;">
                                            <!-- Update the "onclick" attribute to call "toggleEditMode" instead of "toggleReadOnly" -->
<button class="btn btn-primary btn-edit" style="margin-right: 10px;" onclick="toggleEditMode(this)">Edit</button>

                                            <form action="/admin/removeCharacteristic" method="post">
                                                <input type="hidden" name="characteristic"
                                                    value="<%= characteristics[i].characteristic %>">
                                                <button class="btn btn-danger mx-2" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>

                                </tr>
                                <% } %>
                        </tbody>

                    </table>
                    <div id="errorMessage" style="color: red;"></div>
                </div>
            </div>
        </main>
        </div>
        </div>
        <script src="/JS/charecteristics.js"></script>

</body>

</html>