<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characteristics</title>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <style>
        .custom-col {
            width: 5%;
        }

        #roomTable thead th:first-child,
        #roomTable tbody td:first-child {
            width: 15%;
        }

        #roomTable thead th:nth-child(2),
        #roomTable tbody td:nth-child(2) {
            width: 10%;
        }

        #roomTable tbody td:last-child {
            width: 5%;
        }

        #roomTable tbody td i {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        #roomTable tbody td div {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
        <a class="navbar-brand mx-auto" href="#">
            <img id="MDB-logo" src="/IMAGES/download-removebg-preview.png" alt="Basma Hotel Logo" draggable="false"
                height="40" />
            Basma Hotel
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                Reservations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/guests">
                                Guests
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/rooms">
                                Rooms
                            </a>
                        </li>
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center pl-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <i class="zmdi zmdi-plus-circle-o"></i>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/characteristics">
                                <i class="zmdi zmdi-file-text"></i>
                                Characteristics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/options">
                                Options
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
                <div class="container">
                    <h2 style="margin-left: 55px;">Room's Characteristics</h2>
                    <div class="row justify-content-end mb-3">
                        <div class="col-auto">
                            <button class="btn btn-success" style="margin-right: 10px;"
                                onclick="addCharacteristicsRow()">Add
                                Characteristic</button>

                        </div>
                        <div class="col-auto" id="saveButtonContainer" style="display: none;">
                            <button class="btn btn-primary" onclick="saveCharacteristicRow()">Save</button>
                        </div>
                    </div>
                    <div class="table-responsive mx-auto" style="width: 90%; ">
                        <table class="table table-bordered fixed-width" id="roomTable">
                            <thead>
                                <tr>
                                    <th>Characteristic</th>
                                    <th>Icon</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i < characteristics.length; i++) { %>
                                    <tr>
                                        <td style="vertical-align: middle;">
                                            <input type="text" class="form-control"
                                                style="width: 90%; vertical-align: middle;" readonly
                                                value="<%= characteristics[i].characteristic %>">
                                        </td>
                                        <td
                                            style="display: flex; align-items: center; justify-content: center; padding: 7%; width: 100%;">
                                            <i class="<%= characteristics[i].icon %>"
                                                style="font-size: large; width: 150px; display: flex; align-items: center; justify-content: center; "></i>
                                        </td>


                                        <td>
                                            <div class="btn-group d-flex justify-content-center" role="group"
                                                style="width: 100%;">
                                                <button class="btn btn-primary mx-2"
                                                    onclick="toggleReadOnly(this)">Edit</button>
                                                <button class="btn btn-danger mx-2"
                                                    onclick="deleteCharacteristicRow(this)">Delete</button>
                                            </div>
                                        </td>

                                    </tr>
                                    <% } %>
                            </tbody>

                        </table>
                        <div id="errorMessage" style="color: red;"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/JS/charecteristics.js"></script>

</body>

</html>