<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/covid-19.css">
    <title>Basma/Covid-19</title>
</head>

<body>
    <header class="centered-text">
        <h1>Covid-19 Response</h1>
    </header>
    <div class="announcement">
        <p>Basma Hotel is ready for your next stay, whenever you are ready to travel.</p>
        <p>We are committed to welcoming you with the highest standard of cleanliness when you are ready to visit Aswan.
        </p>
    </div>
    <div class="safety-section">
        <div class="safety-content">
            <h2>Your safety comes first</h2>
            <h3>Your Health, Our Priority!</h3>
            <p>Your health and safety are of our highest concern. We want you to feel our hospitality in every moment of
                your stay, but also feel how our concern for your safety is reflected in our care for you. The
                management and staff teams are taking all the measures possible to ensure you stay healthy during your
                stay. The following are a few of the measures our teams are taking to keep you safe:</p>
        </div>
    </div>
    <div class="cards-container">
        <div class="card">
            <h2>Reengineered Public Areas</h2> <i class="fa-solid fa-landmark" style="color: #210082;"></i>
            <p>Public areas have been reconfigured to maintain social distancing and enhance your safety. We've spaced
                out seating, and temporarily closed facilities for children to
                ensure your safety.</p>
        </div>

        <div class="card">
            <h2>Temperature Checks</h2><i class="fa-solid fa-circle-check" style="color: #0a9900;"></i>
            <p>Everyone in the hotel will have their temperature checked via contact-less thermometers twice daily. This
                includes guests, staff, and administration personnel.</p>
        </div>

        <div class="card">
            <h2>Mandatory Masks</h2> <i class="fa-solid fa-mask-face"></i>
            <p>Masks are mandatory in all public areas of the hotel. To ensure your safety, everyone on our team will be
                wearing a mask.</p>
        </div>
    </div>

    <div class="cards-container">
        <div class="card">
            <h2>Sanitary Equipment</h2> <i class="fa-solid fa-pump-soap"></i>
            <p>Guest rooms have been equipped with sanitary equipment to allow you to constantly disinfect your personal
                belongings.</p>
        </div>

        <div class="card">
            <h2>Hand Sanitizer Stations</h2> <i class="fa-solid fa-hand-holding-droplet"></i>
            <p>Hand sanitizer gel and spray bottles are located conveniently in all public areas of the hotel.</p>
        </div>

        <div class="card">
            <h2>Social Distancing</h2> <i class="fa-solid fa-people-arrows"></i>
            <p>Throughout our hotel, we have placed signs to promote keeping a safe distance between everyone in the
                building. Signs are also included on the hotel floors for any lines formed.</p>
        </div>

    </div>
    <a href="#" class="ViewBtn">
        Ready to stay at the Basma Hotel?
    </a>
</body>

</html>