<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basma/Facilities</title>
    <link rel="stylesheet" href="/CSS/facilities.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
</head>

<body>
    <header>
        <h1>Our Facilities</h1>
    </header>
    <main>
        <div class="centered-text">
            <h2>Our Facilities</h2>
        </div>
        <div class="facility-card-container">
            <div class="facility-card">
                <img src="/IMAGES/The lotus-1.webp" alt="The Lotus">
                <h2>The Lotus</h2>
                <p>Eclectic dishes beautifully fused with with a local cuisine variety.</p>
                <a href="https://basmaguest.glide.page/dl/da19fa?utm_source=Physical+Scan&utm_medium=QR+Code&utm_campaign=Guest+Experience+|+Inside+Restaurant"
                    class="ViewBtn">
                    View Menu <i class="fa-solid fa-utensils"></i>
                </a>
            </div>
            <div class="facility-card">
                <img src="/IMAGES/Vienna1.webp" alt="VIENNA CAFE">
                <h2>VIENNA CAFE</h2>
                <p>Light snacks, hot & cold drinks, spirits, and a game of pool.</p>
                <a href="https://basmaguest.glide.page/dl/a400f7?utm_source=In+Restaurant&utm_medium=QR+Code&utm_campaign=Redirect"
                    class="ViewBtn">
                    View Menu <i class="fa-solid fa-utensils"></i>
                </a>
            </div>
            <div class="facility-card">
                <img src="/IMAGES/Room Service-1.webp" alt="ROOM SERVICE">
                <h2>ROOM SERVICE</h2>
                <p>Relax in the comfort of your room and enjoy 24/7 hour service.</p>
                <a href="https://basmaguest.glide.page/dl/dcc150" class="ViewBtn">
                    View Menu <i class="fa-solid fa-utensils"></i>
                </a>
            </div>
        </div>
        <div class="location">
            <div class="centered-text">
                <h2>Things To do in Aswan</h2>
            </div>
            <div class="facility-card-container">
                <div class="facility-card">
                    <img src="/IMAGES/aswan_nubian_museum_entrance.jpg" alt="aswan_nubian_museum">
                    <h2>Nubia Museum</h2>
                    <p>This museum traces the history from the earliest settlements to present day of Nubia, the region
                        defined as the area between Aswan in Egypt and Khartoum in the Sudan.</p>
                    <a href="https://egymonuments.gov.eg/en/museums/nubia-museum/" class="ViewBtn">
                        Read More <i class="fa-solid fa-book-open-reader"></i>
                    </a>
                </div>
                <div class="facility-card">
                    <img src="/IMAGES/the-nubian-museum-in-aswan-askaladdin.webp" alt="aswan_museum">
                    <h2>Aswan Museum</h2>
                    <p>Experience Aswan's history & culture at the captivating Aswan Museum. Discover ancient
                        artifacts & exhibits that bring history to life. the museum offers a captivating journey.</p>


                    <a href="https://www.sis.gov.eg/Story/117440/Aswan-Museum?lang=en-us" class="ViewBtn">
                        Read More <i class="fa-solid fa-book-open-reader"></i>
                    </a>

                </div>
                <div class="facility-card">
                    <img src="/IMAGES/Botanical-Garden.jpg" alt="aswan_museum">
                    <h2>Aswan Botanical Gardens</h2>
                    <p>Experience the serene Aswan Botanical Gardens on a tranquil Nile island. Enjoy lush greenery,
                        vibrant flowers, and exotic plants for a leisurely nature escape.</p>


                    <a href="https://www.lonelyplanet.com/egypt/nile-valley/aswan/attractions/aswan-botanical-gardens/a/poi-sig/1426326/355240"
                        class="ViewBtn">
                        Read More <i class="fa-solid fa-book-open-reader"></i>
                    </a>

                </div>
            </div>
        </div>
    </main>
</body>

</html>