<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <div class="" >
            <input type="email" name="email" placeholder="Enter your name" required>
            <input type="password" name="password" placeholder="Enter your password" required>
        </div>
        <input type="submit" value="Login">
        <input type="reset" value="Reset"> 
    </form>
       <button type="button" id="">Cancel</button>
</body>
</html>