<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form action="/" method="post">
    <div class="" >
        <input type="text" name="fname" placeholder="Enter your first name" required>
        <input type="text" name="lname" placeholder="Enter your last name" required>
        <input type="email" name="email" placeholder="Enter your name" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="password" name="confirm" placeholder="Confirm your password" required>
        <input type="tel" name="phone" >
        <input type="date" name="dob" required>
    </div>
    <input type="submit" value="Register">
    <input type="reset" value="Reset">
</form>  
    <button type="button" id="">Cancel</button>
</body>
</html>