/* First SlideShow */
.container {
  position: relative;
  max-width: 600px;
  margin: 20px auto 0 auto;
}

.mySlides {
  display: none;
  animation: fadeIn 1s;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  padding: 16px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.smooth-transition {
  transition: transform 0.5s ease-in-out;
}

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.carousel {
  background-color: #f0f0f0;
}

.carousel-item {
  padding: 20px;
}

.carousel-indicators li {
  border: 2px solid #fff;
}

.carousel-indicators .active {
  background-color: #fff;
}

/* main text */
.centered-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
}

.centered-text h1 {
  font-size: 36px;
  background-image: linear-gradient(to right, #133cc2, #8213c2);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;
}

.centered-text p:first-of-type {
  font-size: 24px;
  -webkit-background-clip: text;
  color: #333;
  text-align: center;
  position: relative;
}

.centered-text p:last-of-type {
  font-size: 20px;
  text-align: center;
}

.centered-text::before {
  content: "";
  position: absolute;
  top: 44%;
  height: 2px;
  background-color: #0c008c;
  width: 50px;
  left: 30%;
  transform: translate(0, -50%);
}
.centered-text::after {
  content: "";
  position: absolute;
  top: 44%;
  height: 2px;
  background-color: #0c008c;
  width: 50px;
  right: 30%;
  transform: translate(0, -50%);
}

/* Start Second SlideShow */
.slideContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 50%;
  padding: 0;
  background: radial-gradient(
      650px circle at 50% 50%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 50% 50%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
  position: relative;
}

.secondslide {
  margin-top: 20px;
  width: 60%;
  height: 90%; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.secondslide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  animation: slide 25s infinite;
  opacity: 0;
}

.secondslide > div:nth-child(2) {
  animation-delay: 5s;
}

.secondslide > div:nth-child(3) {
  animation-delay: 10s;
}

.secondslide > div:nth-child(4) {
  animation-delay: 15s;
}

.secondslide > div:nth-child(5) {
  animation-delay: 20s;
}

.slideTitle div {
  position: absolute;
  text-align: right;
  top: 350px;
  right: 350px;
  z-index: 100;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.slideTitle p {
  margin-top: 25px;
  line-height: 0;
}

.slideTitle {
  position: absolute;
  text-align: center;
  font-weight: 500;
  top: 30%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  z-index: 100;
  color: rgb(255, 255, 255);
}
.slideTitle::before {
  content: "";
  position: absolute;
  top: 28%;
  height: 2px;
  background-color: #1b0db3;
  width: 50px;
  left: 28%;
  transform: translate(0, -50%);
}
.slideTitle::after {
  content: "";
  position: absolute;
  top: 28%;
  height: 2px;
  background-color: #1b0db3;
  width: 50px;
  right: 28%;
  transform: translate(0, -50%);
}

@keyframes slide {
  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    transform: scale(1.2);
  }
}

.ViewBtn {
  display: inline-block;
  margin-top: 10%;
  width: 60%;
  background-color: #8213c2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.5s;
  text-decoration: none;
  color: #fff;
}

.ViewBtn:hover {
  background-color: #3c0266;
  color: #fff;
}

.ViewBtn a {
  text-decoration: none;
  color: #fff;
  background-color: #8213c2;
}

/* End second slideShow */

/* Start safe & sanitized */
.safe {
  margin-top: 5px;
  padding: 20px;
  text-align: center;
}

.safe h3 {
  background-image: linear-gradient(to right, #133cc2, #8213c2);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
}

.main-safe::before {
  content: "";
  position: absolute;
  bottom: 30%;
  height: 2px;
  background-color: #0c008c;
  width: 50px;
  left: 38%;
  transform: translate(0, -50%);
}
.main-safe::after {
  content: "";
  position: absolute;
  bottom: 30%;
  height: 2px;
  background-color: #0c008c;
  width: 50px;
  right: 38%;
  transform: translate(0, -50%);
}

.safe p {
  font-size: 16px;
  margin-bottom: 20px;
}

.safe button {
  background-color: #7f12be;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.safe button:hover {
  background-color: #44006b;
}

/* Style for the button icon */
.safe button i {
  margin-left: 5px;
}

/* End safe & sanitized */

/* Style for the lastpic section */
.lastpic {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

/* Style for the last picture */
.lastpic {
  width: 100%;
  max-height: 50vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #333;
}

.lastpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #333;
}

/* Style for the text on top of the image */
.lastpic-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #3333338d;
  background-size: 100%;
  color: #fff;
}

.lastpic-text h3 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.lastpic-text p {
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
}

::-webkit-scrollbar {
  display: none;
}
