body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/IMAGES/shot-numerous-boats-berthed-by-pier-straight-lines-sunset.jpg");
  background-size: cover;
  background-position: center;
  /* width: 95vw; */
  height: 200vh;
  margin: 0;
  background-repeat: no-repeat;
}
/* .row:not(.exclude-tables) {
  background-color: #dd00ff4c;
} */

/* Navigation bar styles */
.navbar {
  background-color: #8213c2;
  color: #ffffff;
  width: 100%;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ecf0f1;
  background-color: transparent;
}

/* Sidebar */
.side-bar {
  background-color: #ffffff86;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 220px; /* Adjust the width as needed */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #dddddd;
  border-bottom-right-radius: 10px;
  transition: width 0.3s ease;

  position: fixed; /* Fixed positioning */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  z-index: 1000; /* Adjust z-index as needed */
}

.side-bar:hover {
  width: 250px; /* Expanded width on hover */
}

.side-bar a {
  padding: 15px;
  display: block;
  color: #333;
  transition: color 0.3s ease;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
}

.side-bar span {
  margin-left: 10px;
}

.side-bar i.zmdi {
  color: purple;
}

.side-bar a:hover {
  background-color: #9e2be061;
  color: #4d003e;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
  border-radius: 12px;
}

.content {
  margin-left: 25px;
  transition: margin-left 0.3s ease;
}

.sidebar-collapsed .content {
  margin-left: 70px;
}

.sidebar,
.content {
  transition: all 0.3s ease;
}

.sidebar a.active {
  background-color: #3498db;
}

.sidebar a {
  transition: color 0.3s ease;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-list {
  margin-top: 20px;
}

.card i {
  font-size: 2em;
}

.card .title {
  font-size: 1.2em;
  margin-top: 10px;
}

.card .value {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.card .stat {
  font-size: 0.8em;
  color: #6c757d;
}

.projects {
  margin-top: 20px;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  border-radius: 20px; /* Border radius for the entire table */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

th {
  padding: 10px;
  border-bottom: 2px solid #8213c2; /* Border color for header rows */
  text-align: left;
  background-color: #8213c2;
  color: white;
}
td {
  padding: 10px;
  /* border-bottom: 1px solid #dee2e6; */
  text-align: left;
  /* border-radius: 7px; */
}
tr:nth-child(even) td {
  background-color: #d8a7f53b;
  /* border-radius: 20px; */
}
tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

/* Hover effect for rows */
tr:hover {
  background-color: #f5f5f590;
}
tr:hover {
  background-color: #f8f9fa;
}

.projects-table .member {
  display: flex;
  align-items: center;
}

/* Buttons */
.delete {
  width: 100%;
  background-color: #c21313;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: background-color 0.5s;
  cursor: pointer;
}
.refund {
  width: 100%;
  background-color: rgb(19, 194, 77);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.delete:hover {
  background-color: #9a0808;
  color: #fff;
}
.refund:hover {
  background-color: rgb(30, 122, 2);
  color: #fff;
}

.status {
  text-align: center;
}

.status .status-text.status-blue {
  display: inline-block;
  width: 60%;
  text-align: center;
}

.projects-table .member img {
  border-radius: 50%;
  margin-right: 10px;
}

.projects-table .status-text {
  padding: 8px 12px;
  border-radius: 5px;
}

.projects-table .status-orange {
  background-color: #ffc107;
  color: white;
}

.projects-table .status-red {
  background-color: #dc3545;
  color: #fff;
}

.projects-table .status-blue {
  background-color: #007bff;
  color: #fff;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
  color: #343a40;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
}

/* Additional styles for cards */
.card-list .card {
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  position: relative;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-list .card i {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-list .blue {
  background-color: #63276a;
}
.card-list .green {
  background-color: #c96b99;
}
.card-list .purple {
  background-color: #f0a09d;
}
.card-list .red {
  background-color: #ffc2a1;
}

/* Additional styles for the projects table */
.projects-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.projects-table th,
.projects-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.projects-table th {
  background-color: #9e2ede;
  color: #fff;
}

.projects-table tr {
  transition: background-color 0.3s;
}

.projects-table tr:hover {
  background-color: #f5f5f5;
}

.projects-table td {
  position: relative;
}

.status-text {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
}

.status-orange {
  background-color: #e67e22;
  color: #fff;
}

.status-blue {
  background-color: #3498db;
  color: #fff;
}

.status-unarrival {
  background-color: #e74c3c;
  color: #fff;
}

/* Styling for the danger item in the projects table */
.danger-item {
  background-color: #f2dede;
  color: #a94442;
}

.reservations-header {
  background-color: #ffffff9a;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
}

.reservations-header .title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.reservations-header .count {
  font-size: 18px;
  color: #6c757d;
}

.reservations-header i {
  margin-left: auto;
  font-size: 24px;
  color: #007bff;
}

::-webkit-scrollbar {
  visibility: hidden;
}
