/* Facility Card Container */
.facility-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px 10px;
}

/* Facility Cards */
.facility-card {
  flex: 0 0 calc(30% - 20px);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  transition: transform 0.2s;
  cursor: pointer;
}

.facility-card:hover {
  transform: scale(1.05);
}

.facility-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.facility-card h2 {
  font-size: 24px;
  margin: 10px 0;
}

.facility-card p {
  font-size: 16px;
}

/* Style for the View Menu button */
.ViewBtn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #3c0266;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ViewBtn:hover {
  background-color: #8213c2;
  color: #fff;
}

.centered-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  position: relative;
}

.centered-text h2 {
  font-size: 36px;
  background-image: linear-gradient(to right, #133cc2, #8213c2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;
}

.centered-text h2::after {
  content: "";
  display: block;
  width: 400px;
  height: 4px;
  background-color: #600396aa;
  margin: 15px auto;
}

/* ... your existing styles ... */

::-webkit-scrollbar {
  display: none;
}
