.title-strap {
  background-color: #ffffff9a;
  padding: 15px;
  width: max-content;
  border-radius: 10px;
  margin-bottom: 20px;
}
body {
  background-image: url("/IMAGES/shot-numerous-boats-berthed-by-pier-straight-lines-sunset.jpg");
  background-size: cover;
  background-position: center;
  /* width: 95vw; */
  height: 200vh;
  margin: 0;
  background-repeat: no-repeat;
}
.title-strap h2 {
  color: #4d003e;
  font-size: 24px;
  margin: 0;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  border-radius: 20px; /* Border radius for the entire table */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

th {
  padding: 10px;
  border-bottom: 2px solid #8213c2; /* Border color for header rows */
  text-align: left;
  background-color: #8213c2;
  color: white;
}

td {
  padding: 10px;
  /* border-bottom: 1px solid #dee2e6; */
  text-align: left;
  /* border-radius: 7px; */
}

tr:nth-child(even) td {
  background-color: #d8a7f53b;
  /* border-radius: 20px; */
}
tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

/* Hover effect for rows */
tr:hover {
  background-color: #f5f5f590;
}

.btn-success,
.btn-primary,
.btn-danger {
  margin-right: 10px;
}

.form-control[readonly] {
  background-color: #f8f9fa;
}

#errorMessage {
  margin-top: 10px;
  color: red;
}
