.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.signUp {
  width: 100%;
  background-color: #8213c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: background-color 0.5s;
}

.signUp:hover {
  background-color: #3c0266;
}
.cancel:hover {
  color: #3c0266;
}
.cancel {
  color: #8213c2;
  vertical-align: bottom;
  cursor: pointer;
  border: 0 none;
  background-color: transparent;
  font-size: 1.5em;
  margin-left: 85%;
  margin-top: 3%;
  margin-bottom: 0%;
}

.member {
  margin-top: 10px;
}

.signup {
  color: #8213c2;
  transition: background-color 0.5s;
}

.signup:hover {
  color: #551dff;
}
