
body {
  font-family: "Arial", sans-serif;
}

.room-description,
.booking-form {
  margin-left: 20%;;
  flex: 1; 
  max-width: 55%; 
  box-sizing: border-box; 
  background-color: #ffffff; 
  color: #7f12be; 
  border-radius: 10px; 
}

.room-description h2,
.booking-form h2 {
  color: #7f12be; 
}

.room-description p {
  color: #2d3142; 
}

.booking-form form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  background-image: linear-gradient(to left, #133cc2, #8213c2);
  -webkit-background-clip: text;
  color: transparent;
}


.booking-form input[type="date"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bfc0c0;
  border-radius: 5px;
  color: #000000; 
  transition: background-color 0.5s;
}
.booking-form input[type="submit"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bfc0c0; 
  border-radius: 5px;
  background-color: #8213c2;
  color: #fff; 
  transition: background-color 0.5s;
}

.booking-form input[type="submit"]:hover {
  background-color: #3c0266; 
}

.data{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border-radius: 0.2rem;
  padding: 1.25rem!important;
  width:70%;
  margin-left: 15%;
  padding:25%;
  margin-bottom: 3%;
  border-style: solid;
  border-color:#8213c2;
  border-top: 0;
  border-width: middle;
}

.images{
  margin-top:7%;
  padding:2%;
  width:70%;
  margin-left: 15%;
  border-radius: 0.2rem;
  border-style: solid;
  border-color:#8213c2;
  border-bottom: 0;
  border-width: middle;
}
::-webkit-scrollbar {
  display: none;
}
.demo {
  opacity: 0.6;
  cursor: pointer;
}

.active,
.demo:hover {
  opacity: 1;
}
.image-container {
  display: flex;
}

.image-item {
  flex: 1;
  margin-top: 10px;
  margin-right: 10px; 
}
.image-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.image-item:last-child {
  margin-right: 0; /* Remove margin from the last item to prevent extra spacing */
}
.mySlides img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.type{
  font-size:medium;
  margin: 1%;
  margin-top: -1%;
  color: #1103af;

}
p i{
  color:#133cc2;
}
.title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  background-image: linear-gradient(to right, #133cc2, #8213c2);
  -webkit-background-clip: text;
  color: transparent;
}

.title::before {
  content: "";
  position: absolute;
  margin-top: 1%;
  height: 2px;
  background-color: #0c008c;
  width: 50px;
  left: 32%;
  transform: translate(0, -50%);
}
.title::after {
  content: "";
  margin-top: 1%;
  position: absolute;
  height: 2px;
  background-color: #0c008c;
  width: 50px;
  right: 32%;
  transform: translate(0, -50%);
}
