/* main {
  background-color: #8213c249;
  width: 200vw;
  box-sizing: border-box; 
  padding: 20px;
  margin: 0; 
} */
body {
  background-image: url("/IMAGES/shot-numerous-boats-berthed-by-pier-straight-lines-sunset.jpg");
  background-size: cover;
  background-position: center;
  /* width: 95vw; */
  height: 200vh;
  margin: 0;
  background-repeat: no-repeat;
}
.title-strap {
  background-color: #ffffff9a;
  padding: 15px;
  width: max-content;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title-strap h2 {
  color: #4d003e;
  font-size: 24px;
  margin: 0;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

th {
  padding: 10px;
  border-bottom: 2px solid #8213c2;
  text-align: left;
  background-color: #8213c2;
  color: white;
}

td {
  padding: 10px;
  /* border-bottom: 1px solid #dee2e6; */
  text-align: left;
  /* border-radius: 7px; */
}

tr:nth-child(even) td {
  background-color: #d8a7f53b;
  /* border-radius: 20px; */
}
tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

/* Hover effect for rows */
tr:hover {
  background-color: #f5f5f5b5;
}

.btn-success,
.btn-primary,
.btn-danger {
  margin-right: 10px;
}

.form-control[readonly] {
  background-color: #f8f9fa;
}

#errorMessage {
  margin-top: 10px;
  color: red;
}

/* Dropdown button style (optional) */
.dropdown-container button {
  padding: 10px;
  border: 1px solid #3498db; /* Border color */
  border-radius: 4px;
  background-color: #3498db; /* Background color */
  color: #ffffff; /* Text color */
  cursor: pointer;
}

div.table-container table {
  border-radius: 20px;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* White background */
  border: 1px solid #ccc; /* Light border color */
  border-radius: 4px;
  z-index: 1;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Dropdown options */
.dropdown-content select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.dropdown-content select option {
  padding: 10px;
}

.dropdown-container:hover .dropdown-content {
  display: block;
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  visibility: hidden;
}
